.card {
    width: 250px;
    height: 450px;
    border: 1px solid #daa520;
    border-radius: 5px;
    flex-grow: 1
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 5px 0;

}

.card-texto{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 150px;
   
    justify-content: space-between;
}

.card-texto p{
    font-size: 11px;
}


.card-texto .categoria{
    color: #daa520;
    line-height: 8px;
}

.card-texto .preco{
font-weight: bold;
align-self: flex-end;
}

@media (max-width:620px){
    .card{
        width: 100%;
    }
    .card img{
        width: 100%;
    }
}