.section-produtos {
    padding: 0 20px 50px 20px;
}

.cards {
    display: flex;
    gap: 40px;
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-produtos h1 {
    font-family: 'Dancing Script', cursive;
    color: #daa520;
    margin: 10px 0;
    text-align: center;
}

